html {
    font-size: 16px;
}
body {
    background-color: hsl(217, 54%, 11%);
}

.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}


#nft-card {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: hsl(216, 50%, 16%);
    padding: 20px;
    align-items: center;
    width: 400px;
    height: 600px;
    border: none;
    border-radius: 15px;
}
#equilibrium {
    width: 90%;
    border-radius: 15px;
}
#nftid {
    width: 95%;
}
#nft-name {
    color: hsl(0, 0%, 100%);
    font-family: 'Outfit', sans-serif;
    width: 95%;
}
#nft-desc {
    color : hsl(215, 51%, 70%);
    font-family: 'Outfit', sans-serif;
}
#price {
    color: hsl(178, 100%, 50%);
    font-family: 'Outfit', sans-serif;
}

#info {
    display: flex;
    justify-content: space-between;
    width: 89%;
    border-bottom: solid 1px hsl(215, 51%, 70%);
}
#day {
    color: hsl(215, 51%, 70%);
    font-family: 'Outfit', sans-serif;
}

#price, #day {
    display: inline-block;
}

#whois {
    color: hsl(215, 51%, 70%);
    font-family: 'Outfit', sans-serif;
}

#realbottom {
    width: 89%;
}
#author {
    display: inline;
    color: hsl(0, 0%, 100%);
    font-family: 'Outfit', sans-serif;
}

#avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}